@media  screen and (max-width: 1024px) {
    .about__flex {
        flex-direction: column;
        align-items: center;
    }
    .services__title {
        margin: 0 auto;
    }
    .flex-about__left {
        margin-bottom: 20px;
    }
    .footer__items {
        gap: 10px;
        margin: 0 10px;
    }
}
@media  screen and (max-width: 800px) {
    .header {
        margin-bottom: 20px;
    }
    .navbar__list {
        padding-left: 20px;
    }
    .navbar__item {
        margin-right: 20px;
    }
    .services__content {
        justify-content: center;
    }
    .servises__cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .footer__items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        justify-items: center;
    }
    .footer__social {
        grid-template-columns: 20px 20px 20px;
        gap: 10px;
    }
    .contact-footer {
        width: 250px;
    }
}
@media  screen and (max-width: 600px) {
    .header {
        padding-bottom: 20px;
    }
    .header > * {
        margin-bottom: 40px;
    }
    .header > *:last-child {
        margin-bottom: 0;
    }
    .navbar_items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .about-right__plan {
        grid-area: plan;
    }
    .about-right__manage {
        grid-area: manage;
    }
    .about-right__build {
        grid-area: build;
    }
    .flex-about__right {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "plan manage"
            "build build";
        justify-items: center;    
    }

    .services .line {
        margin: 0 auto;
    }
    .footer__items {
        grid-template-columns: repeat(1, 1fr);
    }
}